@model Book
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Title</h5>
        <p class="card-text">@Model.PublishDate</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>